<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cxp.graduate.mapper.DaysMapper"> 
	<resultMap type="Days" id="daysMap">
   		<result property="t_dat" column="t_dat" />
   		<result property="d_smoke" column="d_smoke" />
   		<result property="d_temperature" column="d_temperature" />
   	 	<result property="d_infrared" column="d_infrared" />
    </resultMap>
   <select id="getDataByDay" resultMap="daysMap" parameterType="String">
   		select * from t_days where d_dat = #{d_dat}
   </select>
</mapper>