<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cxp.graduate.mapper.OrderMapper">  
	<!-- 查询标志位的变化情况 -->
	<resultMap type="Directive" id="orderMap">
   		<result property="c_relay" column="c_relay"/>
   		<result property="c_alarm"  column="c_alarm"/>
   	 	<result property="c_flag" column="c_flag"/>
    </resultMap>
	<select id="findDirectiveFlag" resultMap="orderMap" parameterType="int">
   		select * from directive where did_oid = #{did_oid};
   </select>
   
   	<!-- 更新指令 -->
   	<update id="updateDirectiveFlag" parameterType="Directive">
   		update directive set c_relay = #{c_relay},c_alarm = #{c_alarm},c_flag = #{c_flag} where did_oid = #{did_oid} 
	</update>
	
   	<update id="updataDirective" parameterType="Directive">
   		update directive set c_relay = #{c_relay},c_alarm = #{c_alarm},c_flag = #{c_flag} where did_oid = #{did_oid} 
	</update>
	
	<update id="updataDirectiveByRelay" parameterType="Directive">
   		update directive set c_relay = #{c_relay},c_flag = #{c_flag} where did_oid = #{did_oid} 
	</update>
	
	<update id="updataDirectiveByAlarm" parameterType="Directive">
   		update directive set c_alarm = #{c_alarm},c_flag = #{c_flag} where did_oid = #{did_oid} 
	</update>
	
	<insert id="insertDirective" parameterType="Directive"  useGeneratedKeys="true" keyProperty="c_id">
   		insert into directive (c_relay,c_alarm,c_flag,did_oid) value (#{c_relay},#{c_alarm},#{c_flag},#{did_oid})
	</insert>
</mapper>