<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cxp.graduate.mapper.SensorMapper">  

	<select id="selectSensorCount" resultType="int" parameterType="int">
   		select count(*) from sensor where did_sid = #{did_sid};
   </select>
   

   <insert id="insertSensorData" parameterType="Sensor">
   		insert into sensor (yanwu,wendu,shidu,flame,gpsaddr,setaddr,intime,indate,did_sid) values (#{yanwu},#{wendu},#{shidu},#{flame},#{gpsaddr},#{setaddr},#{intime},#{indate},#{did_sid})
   </insert>
   
   <!-- 查询数据 -->
   <resultMap type="Sensor" id="sensorMap">
   		<result property="yanwu" column="yanwu"/>
   		<result property="wendu" column="wendu"/>
   		<result property="shidu"  column="shidu"/>
   	 	<result property="flame" column="flame"/>
    </resultMap>
   <select id="selectByDid" resultMap="sensorMap" parameterType="int">
   		select * from sensor where did_sid = #{did_sid} order by intime limit 0,10
   </select>
   
   <!-- 查询安装位置 -->
   <resultMap type="Sensor" id="setAddrMap">
   		<result property="gpsaddr" column="gpsaddr"/>
   		<result property="parlour" column="parlour"/>
    </resultMap>
   <select id="selectSensorSetAddr" resultMap="setAddrMap" parameterType="int">
   		select * from sensor where did_sid = #{did_sid}
   </select>
   
   <!-- 查询总条数 -->
	 <select id="getTotalCount" resultType="int" parameterType="Page">
		select count(*) from sensor where did_sid = #{did_sid} and indate = #{indate}
	</select>
	
	<!-- 查询数据 -->
   <resultMap type="Sensor" id="dateMap">
  	 	<result property="intime" column="intime"/>
   		<result property="wendu" column="wendu"/>
   		<result property="shidu"  column="shidu"/>
   	 	<result property="did_sid" column="did_sid"/>
   	 	<result property="flame"  column="flame"/>
   	 	<result property="gpsaddr" column="gpsaddr"/>
   	 	<result property="setaddr"  column="setaddr"/>
   	 	<result property="yanwu" column="yanwu"/>
   </resultMap>
   <select id="selectSensorMsg" resultMap="dateMap" parameterType="Page">
		select * from sensor where indate = #{indate} and did_sid = #{did_sid} limit #{start},#{limit};
	</select>
</mapper>