<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cxp.graduate.mapper.UserMapper"> 
   
   <!-- 根据用户名及密码查询用户 -->
   <resultMap type="User" id="userMap">
   		<result property="userId" column="userId"/>
   		<result property="userName" column="userName"/>
   		<result property="userPwd"  column="userPwd"/>
   	 	<result property="userEmail" column="userEmail"/>
   	 	<result property="isEmailActive" column="emailActive"/>
    </resultMap>
   <select id="findUser" resultMap="userMap" parameterType="User">
   	select * from user where userName=#{userName} and userPwd=#{userPwd}
   </select>
   
   <!-- 根据用户名查询用户 -->
   <select id="findUserByName" resultType="User" parameterType="String">
   	select * from user where userName=#{userName}
   </select>
   
   <!-- 查询用户名下有几个设备 -->
   <resultMap type="User" id="deviceMap">
		<result property="userId" column="userId"/>
   		<result property="userName" column="userName"/>
   		<result property="userPwd"  column="userPwd"/>
		<collection property="devices" javaType="ArrayList" ofType="Device" column="uid_did">
			<id property="deviceId" column="deviceId"/>    
            <result property="deviceState" column="deviceState"/>
		</collection>
	</resultMap>
   <select id="selectUserDevice" resultMap="deviceMap" parameterType="int">
   	select * from user u,device d where u.userId = d.uid_did and u.userId = #{userId};
   </select>
   
   <!-- 查询用户的注册信息 -->
   <resultMap type="User" id="registMap">
		<result property="userId" column="userId"/>
   		<result property="userName" column="userName"/>
   		<result property="userPwd"  column="userPwd"/>
		<association property="email" javaType="Email">
			<id property="id" column="id"/>    
            <result property="email" column="email"/>
            <result property="state" column="state"/>
            <result property="date" column="registTime"/>
		</association>
	</resultMap>
   <select id="selectUserRegist" resultMap="registMap" parameterType="int">
   	select * from user u,regist r where u.userId = r.uid_rid and u.userId = #{userId};
   </select>
   
   <!-- 插入用户返回自增主键id -->
   <insert id="insertUser" useGeneratedKeys="true" keyColumn="userId" keyProperty="userId" parameterType="User">
   		insert into user(userName,userPwd) value (#{userName},#{userPwd})
	</insert>
</mapper>